.Card_backdrop {
  height: 10.2rem;
  object-fit: contain;
  margin-right: 0.15rem;
  cursor: pointer;
  transition: transform 200ms ease;
  border-radius: 0.3rem;
}

.Card_backdrop:hover {
  transition: transform 400ms ease;
  transform: scale(1.3);
  transition-delay: 350ms;
}

.Card_poster {
  height: 22rem;
  object-fit: contain;
  margin-right: 0.20rem;
  cursor: pointer;
  transition: transform 200ms ease;
  border-radius: 0.3rem;
}

.Card_poster:hover {
  transition: transform 400ms ease;
  transform: scale(1.3);
  transition-delay: 350ms;
}
