.Container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  margin-bottom: -6rem;
}

.RowTitle {
  margin-bottom: -3rem;
  color: #d3d4d8;
  font-size: 1.1rem;
}

.Movies {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 3.5rem 0;
}

.Movies::-webkit-scrollbar {
  display: none;
}
